.topics {
    background:var(--blue-gradient);
    text-align: center;
}

.topics {
    color: var(--header-color);
    font-weight: 300;
    padding: 1em 0;
}

.topics__title {
    color: var(--header-color);
    font-weight: 300;
    margin-bottom: 1em;
}

.topics__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 2em 0.5em;

}

.topics__link {
    color: var(--header-color);
    padding: 1em;
    background-color: var(--hamburger-color);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topics__title {
        font-size: 24px;        
    }

    .topics__link {
        font-size: 24px;
    }    
}

@media screen and (min-width: 1728px) {
    .topics {
        padding: 3em 30vw;  
    }

    .topics__item {
        margin-bottom: 3em;
    }
}